body{
  background: bisque; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.maleta{
  clear: left;width: 10%;height: 10%;
}
.viaje{width:auto;margin: auto;}

<navegador>
nav{
  display: inline-block;
  width: 740px;
  text-align: right;
}
nav ul{
  list-style-type: none;
}
nav a{
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}
nav a:hover{
  color: red;
  border-bottom: 3px solid red;
}

header{
  background: ;
}
header h1{
  font-family: 'BallparkWeiner', serif;
  font-size: 2.5em;
  font-weight: normal;
}
header h2{
  font-family: Dayrom, serif;
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}


h1{font-family: Arial, Helvetica, sans-serif;}
nav {
  text-align: center;
  }
img {style="san francisco": 20px; border-radius: 15px; }

article{
  width: auto;
  margin-right: auto;
}

aside img{
  margin-right: 5px;
}
aside{
  object-position:right;
  width: 18%;
  background-color: grey;
  box-shadow: 5px #1c1a19;
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-size: 5;
  text-align: left;
}

aside img{
  margin-right: 5px;
}

footer h1{
  font-size: 1.1em;
}

.tweet, .fotografias, .amigos
{
  display: inline-block;
  vertical-align: un;
}

.tweet
{
  width: 28%;
}

.fotografias
{
  width: 35%;
}

.amigos
{
  width: 31%;
}

.fotografias img{
  border: 1px solid #000000;
  margin-right: 2px;
}

.amigos ul{
  display: inline-block;
  vertical-align: unset;
  margin-top: 0;
  width: 48%;
  padding-left: 2px;
}

.amigos ul, li, a{
  text-decoration: none;
  color: darkred;
}
/* Cuerpo */

article, aside
{
    display: inline-block;
    vertical-align: unset;
    text-align:left;
}

article
{
    width: 625px;
    margin-right: 15px;
}

.cat_icon
{
    vertical-align: middle;
    margin-right: 8px;
}

article 
{
    font-size: 0.8em;
}

aside
{
    position: relative;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}
