body{
    background: rgb(196, 255, 237); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h1 {color: white}
h1.a {color: white; text-shadow: black 0.6em 0.1em 0.6em}

.caja1{text-align-last: center;
    border-left:green 1px solid;
    border-right: green 1px solid;
    border-bottom:green 1px solid
}

.caja2{
    text-align: center;
    
}
.caja3{text-align: justify;
    p {
        border-right: 2px solid lightgray;
        border-bottom: 2px solid lightgray;
        padding-right: 5px;
        padding-bottom: 5px;
        margin: 10px 0;
        height: auto;
    }
    
    

        
      }
