header {
    border: 1px solid ;
    background-color:royalblue;
    font-size:white;
    }

    footer{ border: 1px solid;
        height: 150;
        width: 150;
        background-color:#f5f5f1;
        }
        
        .contenedor {
            display: flex;
            flex-wrap: wrap;
         }
         
         .contenedor img {
             width: 60%;
         }
         
         .imagen {
           box-sizing: border-box;
           flex-basis: 33.33%;
           flex-shrink: 0;
           padding: 5px;
         }
         
         






    .foto1{
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    }
    .foto2{
        width: ;
        vertical-align: top;
        box-sizing: border-box;
        display: inline-block;
    }
    .foto3{width:%;
        height:auto;
        position:relative;
        display:inline-block;}

    .foto4{
        height:auto;
        position:relative;
        display:inline-block;} 
    }

    .foto4{height:auto;
        position:relative;
        display:inline-block;}}

    .foto1 .foto2 .foto3.foto4{

    