header {
    border: 1px solid ;
    background-color:royalblue;
    font-size:white;
    }

    footer{ border: 1px solid;
        height: 150;
        width: 150;
        background-color:#f5f5f1;
        }
        
        






    .foto1{
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    }
    .foto2{
        width: ;
        vertical-align: top;
        box-sizing: border-box;
        display: inline-block;
    }
    .foto2{width:%;
        height:auto;
        position:relative;
        display:inline-block;}

    .foto3{
        height:auto;
        position:relative;
        display:inline-block;} 
    }

    .foto4{height:auto;
        position:relative;
        display:inline-block;}}

    .foto1 .foto2 .foto3.foto4{

    